/*! custom.css v1.0 */


/* ==========================================================================

   Custom CSS Stylesheet. This is where you should add your own styles!

   ========================================================================== */


/*
* Simple style overrides or custom adds
*/

.chaser {
    display: none;
}

.site-logo a img {
    max-height: 62px;
}

.offline-page .containerbox {
    width: 700px;
    margin: 100px auto 0;
    background: #eee;
    position: relative;
    z-index: 1;
    padding: 25px;
    box-shadow: 0 10px 20px #CCC;
    border-bottom: 5px solid #CD2122;
    color: #000;
    margin-bottom: 100px;
}

body.services .grid-ibx--style-lined-center .grid-ibx__item {
    border-width: 1px;
}

img.kl-iconbox__icon {
    max-height: 77px;
}


/* ==========================================================================
   ** Responsive styles custom rules
   * These rules are ready to be used for either overrides
   * or just your own custom rules.
   ========================================================================== */

@media only screen and (min-width: 1921px) {}

@media only screen and (max-width: 1440px) {}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767px) {
    .offline-page .ud_counter ul {
        width: 55%;
    }
    .offline-page .site-logo .logo-img {
        max-width: 175px !important;
        float: left;
    }
    .offline-page .ud_counter .till_lauch {
        width: 55%;
    }
    .content p {
        width: 55%;
    }
}

@media only screen and (max-width: 480px) {
    .page-subheader[class*="maskcontainer--"] {
        max-height: 120px;
    }
    .page-subheader .ph-content-v-center {
        vertical-align: top;
    }
    .kl-bg-source__bgimage {
        background: none !important;
        background-color: rgba(35, 35, 36, 0.7) !important;
    }
    .ph-content-v-center .social_icons {
        display: none;
    }
    .kl-cta-ribbon {
        display: none;
    }
    .site-header.style5 .zn-res-trigger {
        margin-top: -3px;
    }
}


}
@media only screen and (max-width: 320px) {}